.logo {
    height: 70px;
}
.card-img-top {
  height: 400px;
  object-fit: cover;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  border: none;
  background-color: transparent;
}
.card-title, .card-text {
  color: white; 
}
.background-image-equipe {
  background:url(../img/banner-equipe.jpg) no-repeat center center;
  background-size: cover;
  height: 500px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
header {
  height: 10vh;
}
.main-fale-conosco {
  display: flex;
  background-image: url("../img/fale-conosco-bg.jpg");
  justify-content: start;
  background-size: cover;
  height: 90vh;
  color: white;
  flex-direction: column;
  justify-content: center;
}
.main-fale-conosco div {
  width: 400px;
  margin-left: 15%;
}
#section-fale-conosco {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.199);
}
#section-fale-conosco form {
  display: flex;
  flex-direction: column;
}
#section-fale-conosco form input {
  height: 50px;
  font-size: 20px;
}
.video-banner {
  height: 90vh; 
  overflow: hidden;
  position: relative;
}

.video-container {
  position: relative;
  height: 100%;
  width: 100%;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}